.mt-160{
    margin-top: 160px;
}
.bg-booking{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../../Image/Rectangle1.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
